@import "../common/variables";
@import "../common/mixins";

.page-template {
  padding-top: 12px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.template-form-customer {
  padding: 12px;
  display: grid;
  grid-template-columns: 60%;
  align-items: center;
  justify-content: center;
  background-color: #efefef;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .title-breadcrumb {
    padding-left: 3%;
    margin-bottom: 30px;
    padding-bottom: 12px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
  }

  .font-weight-bold {
    font-weight: 700 !important;
  }

  .form-customer {
    padding: 0 3%;

    form {
      display: block;
      margin-top: 0em;

      .form-group {
        margin-bottom: 16px;
        align-items: center;
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
        }
        &__check {
          .form-check {
            position: relative;
            display: block;
          }
          .form-check-input {
            cursor: pointer;
            top: 3px;
          }
        }
        .row {
          display: flex;
          margin-left: -15px;
          margin-right: -15px;

          .btn-dark {
            padding: 8px;
            border-radius: 8px;
          }
        }
      }

      .text-error {
        height: 100%;
        overflow: hidden;
        transition: all 1s ease-in-out;
        color: #ff0000;
        margin: 0.5rem 0 1 0;
      }

      .form-control {
        padding: 10px;
        height: auto;
        border-color: #eee;
        border-radius: 8px;

        &::placeholder {
          opacity: 0.5;
        }
      }

      .action-box {
        display: flex;
        .btn-primary {
          border: 0;
          margin-top: 1em;
          padding: 10px;
          font-size: 1.2rem;
          width: 100%;
          border-radius: 8px;
          background-color: #273445;

        }
        .btn-secondary {
          border: 0;
          padding: 6px 50px;
          margin: auto;
          font-size: 1.2rem;
          @media (max-width: 575px) {
            width: 100%;
          }
        }
      }
    }
  }
}
