@import "../common/variables";
@import "../common/mixins";
#root {
  min-height: 100vh;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}
body {
  font-family: "NotoSansJP", sans-serif;
  min-height: 100vh;
  line-height: 1.8em;
  overflow-x: hidden;
  font-size: 14px;
  color: #273445;
  font-weight: 400;
  word-break: break-word;
}
.sticky-footer {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.page-template {
  padding-top: 12px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.login-page {
  .login-content {
    max-width: 910px;
    margin: 0 auto;
  }

  .title-login {
    font-size: 23px;
    margin-bottom: 20px;

    @media (max-width: 991px) {
      font-size: 18px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(40, 44, 53, 0.5);
    }
  }

  .show-notification {
    margin-bottom: 20px;

    .list {
      margin-bottom: 12px;
      padding-left: 30px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 6px;
          line-height: 1.2em;
          font-size: 14px;

          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: black;
            text-decoration: none;

            &:hover {
              color: $color-main;
              transition: all linear 0.3s;
            }
            .date {
              color: $color-main;
            }
          }
        }
      }
    }

    .action-box {
      text-align: right;

      a {
        display: inline-block;
        color: $color-link;
        font-size: 12px;
        text-decoration: none;

        &:hover {
          transition: all linear 0.3s;
          color: $color-text;
        }
      }
    }

    .loading-notification {
      text-align: center;

      .loader {
        border-color: #000;
        border-top-color: #4597f5;
      }
    }

    @media (max-width: 991px) {
      margin-bottom: 12px;
      padding: 12px;

      .list {
        padding-left: 0;
      }
    }
  }

  &__title {
    font-size: 22px;
    color: #000;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__box {
    @media (max-width: 991px) {
      padding: 12px 12px 30px 12px;
    }
  }

  &__form {
    padding: 20px;
    border-radius: 6px;
    background-color: #efefef;

    .logo-login {
      img {
        width: 144px;
      }
    }

    .logo-login {
      margin-bottom: 10px;
    }

    .form-warp {
      max-width: 322px;
      margin: 0 auto;

      .group-box {
        margin-bottom: 8px;
      }

      .form-group {
        margin-bottom: 9px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .form-control {
        padding: 20px 10px;
        border-radius: 6px;
        border: 1px solid rgba(98, 98, 99, 0.5);

        &::placeholder {
          opacity: 0.5;
        }
      }
    }

    @media (max-width: 991px) {
      .logo-login {
        display: none;
      }

      .form-warp {
        max-width: 100%;
      }
    }
  }

  &__reset-pass {
    text-align: right;
    margin-bottom: 22px;
    a {
      display: inline-block;
      font-size: 12px;
      text-decoration: underline;

      &:hover {
        transition: all linear 0.3s;
        color: $color-title;
      }
    }
  }

  .invalid-feedback {
    font-size: 100%;
    display: block;
  }

  .action-box-btn {
    .btn {
      padding: 15px;
      font-size: 12px;
      border-radius: 25px !important;
      border: none;
      background-color: #273445;
      border: 0;

      &:active {
        background-color: $background-color-main-active !important;
      }

      @media (max-width: 991px) {
        border-radius: 0;
      }
    }
  }

  @media (max-width: 991px) {
    .breadcrumb-box {
      display: none;
    }
  }
}
